[
  {emq_kafka_hook, [
  	{kafka, [
      		{ bootstrap_broker, [{"192.168.15.115", 9092}] },
      		{ query_api_versions, false },
                { reconnect_cool_down_seconds, 10}
    		]
	},
	{settings, [
		{ emq_hook_topic, "emq_broker_message"},
		{ emq_hook_topic_value, "messageAPI"},
		{ num_partitions, 1}
		]
        }
  ]}
].
